<header class="header">
  <div class="background-overlay"></div>
  <div class="header__info">
    <h1 class="header__title">
      <img
        src="../../../../assets/images/header__square.png"
        alt=""
        class="header__decoration"
      />
      Quick<span class="otherColor">Cut</span>
    </h1>
    <p class="header__description">Profesionalne usługi barberskie</p>
    <a routerLink="" mat-raised-button color="primary" class="header__btn">
      Umów wizytę
    </a>
  </div>
</header>
