<nav class="desktop-nav nav">
  <div class="nav__logo-box">
    <img
      src="../../../../../assets/images/logo.png"
      alt="Logo firmy quickCut"
      class="nav__logo"
    />
  </div>
  <div class="nav__links">
    <a routerLink="" class="nav__link">Strona Główna</a>
    <a routerLink="" class="nav__link">Usługi</a>
    <a routerLink="" class="nav__link">Kontakt</a>
    <a routerLink="" class="nav__link">O nas</a>
    <button mat-raised-button color="primary" class="nav__btn">
      Zaloguj się
    </button>
  </div>
</nav>
<nav class="mobile-nav nav">
  <div class="box">
    <div class="nav__logo-box">
      <img
        src="../../../../../assets/images/logo.png"
        alt="Logo firmy quickCut"
        class="nav__logo"
      />
    </div>
    <button
      *ngIf="!openNavbar"
      class="icon"
      mat-icon-button
      aria-label="Example icon button with a menu icon"
      (click)="toggleOpenNavbar()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <button
      *ngIf="openNavbar"
      class="icon"
      mat-icon-button
      aria-label="Example icon button with a menu icon"
      (click)="toggleOpenNavbar()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="nav__links" [ngClass]="{ active: openNavbar }">
    <a (click)="toggleOpenNavbar()" routerLink="" class="nav__link"
      >Strona Główna</a
    >
    <a (click)="toggleOpenNavbar()" routerLink="" class="nav__link">Usługi</a>
    <a (click)="toggleOpenNavbar()" routerLink="" class="nav__link">Kontakt</a>
    <a (click)="toggleOpenNavbar()" routerLink="" class="nav__link">O nas</a>
    <button
      (click)="toggleOpenNavbar()"
      mat-raised-button
      color="primary"
      class="nav__btn"
    >
      Zaloguj się
    </button>
  </div>
</nav>
