<section class="services-info">
  <div class="wrapper">
    <div class="services-info__title-box">
      <div class="box">
        <h2 class="services-info__title">NASZE USŁUGI</h2>
        <h3 class="services-info__subTitle">Co oferujemy?</h3>
      </div>
      <a
        routerLink="services"
        mat-raised-button
        color="primary"
        class="services-info__btn"
      >
        Zobacz nasze usługi
        <img
          src="../../../../assets/icons/arrow-right.png"
          alt=""
          class="icon"
        />
      </a>
    </div>
    <div class="services-info__items">
      <div class="services-info__item">
        <img
          src="../../../../assets/icons/service1.png"
          alt=""
          class="services-info__icon"
        />
        <h3 class="services-info__item-title">Strzyżenie męskie</h3>
        <p class="services-info__description">
          Oferujemy kompleksowe usługi strzyżenia męskiego, które podkreślą Twój
          indywidualny styl. Nasz doświadczony zespół fryzjerów pomoże Ci
          znaleźć idealną fryzurę, dopasowaną do Twoich preferencji i potrzeb
        </p>
      </div>
      <div class="services-info__item">
        <img
          src="../../../../assets/icons/shaving.png"
          alt=""
          class="services-info__icon"
        />
        <h3 class="services-info__item-title">Strzyżenie męskie</h3>
        <p class="services-info__description">
          Oferujemy kompleksowe usługi strzyżenia męskiego, które podkreślą Twój
          indywidualny styl. Nasz doświadczony zespół fryzjerów pomoże Ci
          znaleźć idealną fryzurę, dopasowaną do Twoich preferencji i potrzeb
        </p>
      </div>
      <div class="services-info__item">
        <img
          src="../../../../assets/icons/service2.png"
          alt=""
          class="services-info__icon"
        />
        <h3 class="services-info__item-title">Koloryzacja i stylizacja</h3>
        <p class="services-info__description">
          Pragniesz odświeżyć swój wygląd? Skorzystaj z naszych usług
          koloryzacji włosów i zarostu, które nadadzą Ci nową energię i
          charakter. Dodatkowo oferujemy stylizację włosów, abyś mógł wyrazić
          swój indywidualny styl.
        </p>
      </div>
      <div class="services-info__item">
        <img
          src="../../../../assets/icons/skincare.png"
          alt=""
          class="services-info__icon"
        />
        <h3 class="services-info__item-title">Pielęgnacja skóry i masaż</h3>
        <p class="services-info__description">
          W naszym salonie nie zapominamy o pielęgnacji Twojej skóry. Oferujemy
          profesjonalne zabiegi oczyszczające, nawilżające oraz relaksacyjne
          masaże skóry twarzy i głowy. Pozwól sobie na chwilę relaksu i
          odprężenia w naszym salonie.
        </p>
      </div>
    </div>
  </div>
</section>
