<section class="aboutUs">
  <div class="aboutUs__info">
    <h2 class="aboutUs__title">O NAS</h2>
    <h3 class="aboutUs__subTitle">WRZUĆ SWOJĄ FRYZURE NA WYŻSZY POZIOM</h3>
    <p class="aboutUs__description">
      Witaj w naszym salonie fryzjerskim, gdzie pasja, kreatywność i
      profesjonalizm spotykają się, aby stworzyć niezapomniane doświadczenie
      piękna dla naszych klientów. Od momentu otwarcia naszego salonu, naszą
      misją było nie tylko tworzenie nowoczesnych fryzur, ale również budowanie
      trwałych relacji z naszymi klientami. Nasz zespół doświadczonych fryzjerów
      nieustannie dąży do doskonałości, inspirując się najnowszymi trendami i
      technikami, aby zapewnić Ci nie tylko rewelacyjny wygląd, ale również
      poczucie pewności siebie i satysfakcję.
    </p>
    <ul class="aboutUs__list">
      <li class="aboutUs__list-item">
        <span class="circle"> <mat-icon class="check">check</mat-icon></span>
        Profesjonalna i wykwalifikowana kadra
      </li>
      <li class="aboutUs__list-item">
        <span class="circle"> <mat-icon class="check">check</mat-icon></span
        >Produkty najwyższej jakości
      </li>
      <li class="aboutUs__list-item">
        <span class="circle"> <mat-icon class="check">check</mat-icon></span
        >Gwarancja satysfakcji
      </li>
    </ul>
    <a routerLink="" mat-raised-button color="primary" class="aboutUs__btn">
      Zobacz kim jesteśmy
    </a>
  </div>
  <div class="aboutUs__info">
    <div class="img-box">
      <img
        src="../../../../assets/images/aboutUS.jpg"
        alt=""
        class="aboutUs__img"
      />
      <div class="imgShadow"></div>
    </div>
  </div>
</section>
