.scrollable-table {
  overflow-x: auto;
  margin-bottom: 20px;

  table {
    table-layout: auto;

    th,
    td {
      white-space: nowrap;
      width: max-content;
    }
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.no-data-message {
  text-align: center;
  color: gray;
  font-style: italic;
  font-size: 16px;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .scrollable-table {
    max-width: calc(100vw - 40px - 221px - 80px);
  }
}
