<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__info">
      <div class="box">
        <h3 class="footer__subTitle">Godziny otwarcia</h3>
        <div class="hour-box">
          <span class="smaller-text">Pon - Pt</span>
          <span>8:00 - 15:00</span>
        </div>
        <div class="hour-box">
          <span class="smaller-text">Sobota</span>
          <span>9:00 - 14:00</span>
        </div>
        <div class="hour-box">
          <span class="smaller-text">Niedziela</span>
          <span>Zamknięte</span>
        </div>
      </div>
      <div class="box">
        <h3 class="footer__subTitle">Kontakt</h3>
        <a href=""> <mat-icon>phone</mat-icon> 777-666-444</a>
        <a href=""> <mat-icon>mail</mat-icon> book&#64;gmail.com</a>
      </div>
    </div>
    <div class="footer__aboutUs">
      <img src="../../../../../assets/images/logo.png" alt="" class="logo" />
      <p class="footer__description">
        Stawiamy na miłą i przyjazną atmosferę, tak aby każdy mógł poczuć się
        swobodnie i zrelaksować podczas wizyty.
      </p>
      <a routerLink="" mat-raised-button color="primary" class="nav__btn">
        Sprawdź dostępne terminy
      </a>
    </div>
  </div>
  <div class="triangle"></div>
</footer>
